<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.r0adkll.chipper" >

    <!--========================================================================================

        Permissions

    =========================================================================================-->

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <permission android:name="com.r0adkll.chipper.permission.C2D_MESSAGE" android:protectionLevel="signature" />
    <uses-permission android:name="com.r0adkll.chipper.permission.C2D_MESSAGE" />


    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Chipper"
        android:name=".ChipperApp"
        >

        <!--========================================================================================

            Activity Definitions

        =========================================================================================-->

        <activity
            android:name=".ui.Chipper"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoDisplay"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- The Login Activity -->
        <activity android:name=".ui.login.LoginActivity"
            android:theme="@style/Theme.Chipper.NoActionbar"/>

        <!-- The main chiptune list activity -->
        <activity android:name=".ui.all.ChiptunesActivity"/>

        <!-- The Popular voted list activity-->
        <activity android:name=".ui.popular.PopularActivity"/>

        <!-- The Playlist Activity -->
        <activity android:name=".ui.playlists.PlaylistActivity"/>

        <activity android:name=".ui.playlists.viewer.PlaylistViewerActivity"/>

        <!--========================================================================================

            Service Definitions

        =========================================================================================-->

        <!-- The intent service used to download chiptunes for offline use -->
        <service android:name=".data.OfflineIntentService" />

        <!-- This is the Account/Authenticator stub definition for the sync adapter -->
        <service android:name=".data.sync.AuthenticatorService">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>
            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>

        <!-- The Sync Service -->
        <service android:name=".data.sync.SyncService"
            android:exported="true"
            android:process=":sync">

            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter" />

        </service>

        <!-- The Gcm Receiver -->
        <receiver android:name=".push.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intetn.RECEIVE" />
                <category android:name="com.r0adkll.chipper" />
            </intent-filter>
        </receiver>
        <service android:name=".push.GcmIntentService" />

        <!-- Stub Content Provider -->
        <provider
            android:authorities="com.r0adkll.chipper.provider"
            android:name="com.r0adkll.chipper.data.sync.StubProvider"
            android:exported="false"
            android:syncable="true" />

        <!--========================================================================================

            Meta-Data

        =========================================================================================-->

        <meta-data
            android:name="AA_DB_NAME"
            android:value="Chipper.db" />

        <meta-data
            android:name="AA_DB_VERSION"
            android:value="1" />

        <!-- Google Play Services Metadata -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

    </application>

</manifest>
