<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.r0adkll.chipper" >

    <!--========================================================================================

        Permissions

    =========================================================================================-->

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />


    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Chipper"
        tools:replace="android:theme,android:label"
        android:name=".ChipperApp"
        >

        <!--========================================================================================

            Activity Definitions

        =========================================================================================-->

        <activity
            android:name=".ui.Chipper"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoDisplay"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- The Login Activity -->
        <activity android:name=".ui.login.LoginActivity"
            android:theme="@style/Theme.Chipper.NoActionbar"/>

        <!-- The main chiptune list activity -->
        <activity android:name=".ui.all.ChiptunesActivity"/>

        <!-- The Popular voted list activity-->
        <activity android:name=".ui.popular.PopularActivity"/>

        <!-- The Playlist Activity -->
        <activity android:name=".ui.playlists.PlaylistActivity"/>

        <!--========================================================================================

            Meta-Data

        =========================================================================================-->

        <meta-data
            android:name="AA_DB_NAME"
            android:value="Chipper.db" />

        <meta-data
            android:name="AA_DB_VERSION"
            android:value="1" />

        <!-- Google Play Services Metadata -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

    </application>

</manifest>
