<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.r0adkll.chipper">
    <application>

        <!-- The intent service used to download chiptunes for offline use -->
        <service android:name=".core.data.OfflineIntentService" />

    </application>



</manifest>
